body {
    /* background: url("../images/background.png"); */
    background: purple;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
  }
  
  .remote-container{
    margin: 7vw;
    border: 1px solid rgb(255, 255, 255);
    background: rgba(140, 134, 134, 1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 7px black;
    max-width: 50vw;
}

h1 {
  /* margin-left: 4px; */
  width: 85%;
  text-align: center;
  border-radius: 1vw;
  padding: 1vw;
  font-weight: 700;
  font-size: 3vw;
  background: rgb(89, 10, 173);
  transition: box-shadow .5s;
  color: white;
}
h1:hover {
  box-shadow: 2px 2px 4px rgb(0, 0, 0); 
}

h2 {

  width: 85%;
  margin: 1vh;
  text-align: center;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 1vw;
  background: rgba(0, 0, 0, 0.1);
  transition: box-shadow .5s;
  color: white;
}

.button-container {
    align-content: center;
}

button {
  margin: 1vw;
  border-radius: 10px;
  font-size: 7vw;
  cursor: pointer;
  border: none;
  transition: box-shadow .7s;
}
button:hover {
  box-shadow: 7px 7px 4px rgb(0, 0, 0); 
}

button.on {
  background-color: rgba(0, 60, 164, 0.5);
  font-size: 7vw;
  transition: background .7s;
}
button.on:hover{
  background: blue;
}

button.off {
  background-color: yellowgreen;
  font-size: 7vw;
  transition: background .7s;
}
button.off:hover{
  background: red;
}

